{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block titreH1 %}Mon panier{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th colspan="3">Panier</th>
                <th>
                    <a href="{{ path("panier_vider") }}">
                        <i class="fa fa-cart-arrow-down"></i>
                    </a>
                </th>
            </tr>

            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Sous-total</th>
            </tr>
        </thead>

        <tbody>
            {% set total = 0 %}
            {% for ligne in panier %}
                <tr>
                    <td>{{ ligne.produit.titre }}                </td>
                    <td>{{ ligne.produit.prix }}                 </td>
                    <td>{{ ligne.quantite }}                     </td>
                    <td>{{ ligne.produit.prix * ligne.quantite }}</td>
                    {% set total = total + ligne.produit.prix * ligne.quantite %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Le panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot class="thead-dark">
            <tr>
                <th colspan="3">Total</th>
                <td>
                    {{ total }} €
                    <a href="{{ path('panier_valider') }}" class="float-right" title="Valider le panier">
                        <i class="fa fa-cash-register"></i>
                    </a>
                
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
