{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}

    <h3>{{ app.user|salutations("25/12/2021") }}</h3>
{# 
Bonjour, prenom nom, nous sommes le ../../....
Bonjour email@email.com, nous sommes le ../../....     # si le nom et le prenom sont vide
 #}

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro de client</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Droit d'accès</th>
                <td>
                    {% for role in app.user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            Gérant
                        {% elseif role== "ROLE_VENDEUR" %}
                            Vendeur
                        {% else %}
                            Membre
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>*****</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.civilite == "h" ? "M." : (app.user.civilite == "f" ? "Mme" : "")  }} {{ app.user.prenom }} {{ app.user.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ app.user.adresse }} {{ app.user.codePostal }} {{ app.user.ville }}</td>
            </tr>

            <tr>
                <th>Commandes</th>
                <td>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Numéro</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th>État</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in app.user.commandes %}
                                <tr>
                                    <td>{{ commande.id }}</td>
                                    <td>{{ commande.dateEnregistrement|date("d/m/y à H:i") }}</td>
                                    <td>{{ commande.montant }} €</td>
                                    <td>{{ commande.etat }}</td>
                                    <td>
                                        {# EXO : créer la route espace_detail #}
                                        <a href="{{ path('espace_detail', {id: commande.id})}}" class="btn btn-secondary">Détail</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>
    </table>



{% endblock %}

{% block titreH1 %}Espace Membre{% endblock %}